[user]
	name = Evgenii Ivanov
	email = i@eivanov.com
[alias]
	co = checkout
	sw = switch
	st = status
	lg = log --oneline --graph --decorate
	br = branch
[core]
	excludesfile = /home/eivanov89/repos/my-env/configs/.gitignore_global
